.character-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: -23px;
}

.character {
  position: relative;
  width: 48px;
  height: 69px;
  overflow: hidden;
  z-index: 9;
}

.character img {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px; /* 4 frames */
  height: 69px;
  object-fit: none;
  object-position: 0 0;
  image-rendering: pixelated;
}

.walkingDown img,
.walkingUp img {
  animation: walkCycle 0.4s steps(4) infinite;
}

.darkness-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle 150px at var(--light-x) var(--light-y),
    transparent 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  pointer-events: none;
  z-index: 9;
}
.character-container {
  z-index: 9;
}

.character-wrapper {
  margin-left: -10px;
}

.idle img {
  object-position: 0 0;
}

@keyframes walkCycle {
  from {
    object-position: 0 0;
  }
  to {
    object-position: -192px 0;
  }
}

@media (min-width: 960px) {
  /* MD breakpoint in Material-UI */
  .character-container {
    justify-content: flex-start;
    margin-left: 10px; /* Adjust this value to position the character within the column */
  }
  .character-wrapper {
    margin-left: 10px;
  }
}
